$nav-height: 90px;

.navbar {
  background: $white;
  box-shadow: 0 5px 15px $grey;
  display: flex;
  height: $nav-height;
  justify-content: space-between;
  left: 0;
  padding: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-logo {
  width: 200px;
}
