$blue: #00ADEE;
$green: #BED23C;
$grey: #C4C4C4;

$nav-height: 70px;
$nav-logo-height: 30px;
$title-decoration-height: 90px;
$title-decoration-width: 70px;
$tech-logo-size: 100px;
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;

body {
  font-family: 'Roboto', sans-serif;
}

.header-title {
  padding: 8rem 10rem 3rem;
}

.title {
  font-size: $text-big;
  position: relative;
  width: 100%;

  &::before{
    content: url(../assets/triangle.svg);
    height: $title-decoration-height;
    width: $title-decoration-width;
    object-fit: cover;
    position: absolute;
    top: -35px;
    left: -53px;
    z-index: -1;
  }
}
