.tech-content {
  margin: 0 auto;
  padding: 32px 170px;
}

.tech {
  align-items: center;
  background-color: $green;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 314px;
  justify-content: flex-start;
  padding: 16px 40px 40px 16px;
  position: relative;
  width: 218px;
}

.tech-logo {
  width: 110px;
}

.tech-name {
  margin: 8px 0;
}

.tech-realease {
  font-weight: $text-weight-bold;
  margin: 8px 0;
}

.tech-description {
  margin: 16px 0;
  text-align: center;
}

.tech-border {
  border: 1px solid $green;
  border-radius: 5px;
  bottom: 11px;
  height: 100%;
  position: absolute;
  width: 100%;
}
