.main {
  margin: 0 auto;
  width: 1360px;
}

.tech-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 170px;
}

.tech {
  align-items: center;
  background-color: $green;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
  width: 200px;

  &::before {
    border: 1px solid $green;
    border-radius: 5px;
    bottom: 10px;
    content: '';
    height: 100%;
    position: absolute;
    right: 10px;
    width: 100%;
  }
}

.tech-logo {
  width: 110px;
}

.tech-name {
  margin: 10px 0;
}

.tech-realease {
  font-weight: $text-weight-bold;
  margin: 10px 0;
}

.tech-description {
  margin: 20px 0;
  text-align: center;
}
