.tools-content {
  padding: 0 160px;

  &:first-of-type {
    margin-top: 80px;
  }
}

.tech-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  padding: 10px 300px;
  place-items: stretch;
  row-gap: 20px;
}

.tech {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0 40px;
  position: relative;

  &:first-child {
    align-self: stretch;
    border-right: 2px solid $green;
    grid-row: 1 / 3;
    justify-content: center;
  }
}

.tech-logo {
  height: 100px;
  width: 100px;
}

.tech-name {
  margin: 10px 0;
}

.tech-realease {
  font-weight: $text-weight-bold;
  margin: 10px 0;
}

.tech-description {
  margin: 20px 0;
  text-align: center;
}

@media (max-width: 1024px) {
  * {
    font-size: $text-big;
  }

  .tools-content {
    padding: 0;
  }

  .tech-content {
    grid-template-columns: 60%;
    padding: 10px;
    row-gap: 50px;
  }

  .tech {
    border-bottom: 2px solid #BED23C;
  }

  .tech-content > .tech:first-child {
    border-right: none;
  }

  .tech-content > .tech:last-child {
    border-bottom: none;
  }
}
