$title-decoration-height: 90px;
$title-decoration-width: 70px;

.title {
  font-size: $text-big;
  margin: 130px 160px 50px;
  position: relative;

  &::before {
    content: url(../assets/triangle.svg);
    height: $title-decoration-height;
    left: -53px;
    position: absolute;
    top: -35px;
    width: $title-decoration-width;
    z-index: -1;
  }
}
