@import 'src/scss/colors';

:host {
  background-color: $white;
  box-shadow: 2px 2px 5px $grey;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 10px;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 2px $grey;
  }
}

.img {
  align-self: center;
  height: 150px;
  margin-bottom: 10px;
  object-fit: cover;
  width: 100%;
}

.img-default {
  background-color: lighten( $grey, 20%);
  height: 150px;
  width: 100%;
}

.title {
  font-weight: bold;
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.author {
  color: $grey;
  font-size: 0.8rem;
}
