<div>
  <img src="" alt="">
  <p>wolox</p>
  <form action="">
    <div>
      <label for="firstname">First name</label>
      <input type="text" id="firstname" name="firstname">
    </div>
    <div>
      <label for="lastname">Last name</label>
      <input type="text" id="lastname" name="lastname">
    </div>
    <div>
      <label for="email">Email</label>
      <input type="text" id="email" name="email">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
    </div>
    <div>
      <button type="submit">Sign up</button>
    </div>
  </form>
  <button>Login</button>
</div>