<div class="container">
  <img class="logo" src="../assets/wolox_logo.svg" alt="Wolox">
  <h4 class="title">BOOKS</h4>
  <form action="" class="form">
    <div class="control">
      <label for="firstname" class="ctrl-label">First name</label>
      <input type="text" id="firstname" name="firstname" class="ctrl-input">
    </div>
    <div class="control">
      <label for="lastname" class="ctrl-label">Last name</label>
      <input type="text" id="lastname" name="lastname" class="ctrl-input">
    </div>
    <div class="control">
      <label for="email" class="ctrl-label">Email</label>
      <input type="text" id="email" name="email" class="ctrl-input">
    </div>
    <div class="control">
      <label for="password" class="ctrl-label">Password</label>
      <input type="password" name="password" id="password" class="ctrl-input">
    </div>
    <button class="btn btn-primary" type="submit">Sign up</button>
  </form>
  <button class="btn btn-login">Login</button>
</div>